/**
 * @file
 *   Step by Step theme-specific css
 */

body {
  padding-top: 60px;
}

.form-item-search-block-form {
  display: inline;
}

body.toolbar {
  padding-top: 4.2em;
}

body.toolbar-drawer {
  padding-top: 6.3em;
}

#toolbar {
  top: 40px;
}

#main {
  padding-top: 2em;
}

footer {
  border-top: 1px solid #CCC;
  margin-top: 2em;
  padding: 2em 0;
}

.item-list .pagination {
  margin: 1em 0;
}